* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(142, 45, 121) 0%,
    rgb(219, 95, 178) 50%,
    rgb(246, 165, 165) 100%
  );
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  border-radius: 10px;
}

.subject-app {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: rgb(53, 4, 55);
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

.subject-app h1 {
  font-size: 2rem;
}

/* Text input area */
.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(255, 194, 209, 0.3);
  color: #333;
}

.input-box input::placeholder {
  color: #bcbcbc;
}
.description-box{
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.description-box input {
  flex: 1;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(255, 194, 209, 0.3);
  color: #333;
}

.description-box input::placeholder {
  color: #bcbcbc;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  background: rgba(225, 194, 209, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  background: #ff6f91;
}

.subject-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

#task-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

#task-list li {
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  transition: all 0.2s ease;
}

#task-list li.completed {
  text-decoration: line-through;
  color: #aaa;
}

.task {
  width: 200px;
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  font-size: 0.9rem;
}